* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: aliceblue;
}

.search-bar-container {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 50px;
  width: 400px;
  height: 50px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.8);
  margin: 10px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.search-bar-container input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  margin: 10px 50px;
  color: rgb(100, 100, 100);
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  transition-delay: 1s;
}

.mag-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  left: 10px;
}

.mic-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  transition: all 0.5s ease-in-out;
  transition-delay: 1s;
  cursor: pointer;
}

.active {
  width: 50px;
}

.active input {
  display: none;
}

.active .mic-icon {
  display: none;
}
